	<div class="container">
		<div class="header">
			<h1 class="header-heading">Bienvenido a LaPlataEnBici</h1>
		</div>

		<div class="nav-bar">
			<ul class="nav">
				<li><a href="#">Estaciones</a>
					<ul>
						<li><a routerLink="/agregarestacion">Agregar Estacion</a></li>
						<li><a routerLink="/listadoestaciones">Estaciones</a></li>
					</ul></li>
				<li><a href="#">Bicicletas</a>
					<ul>
						<li><a routerLink="/agregarbicicleta">Agregar Bicicleta</a></li>
						<li><a routerLink="/listadobicicleta">Bicicletas</a></li>
					</ul></li>
				<li><a href="#">Usuarios</a>
					<ul>
						<li><a routerLink="/listadousuarios">Listado Usuarios</a></li>
					</ul></li>
			</ul>
		</div>
		<div class="content">
			<div class="main">
				<p>Se ha logueado como administrador</p>
				<p>El ciclismo urbano es toda una tendencia en la actualidad,
					pues no solo ofrece varias ventajas para la salud, sino también, es
					un noble medio de transporte que permite ahorrar dinero y cuidar el
					medio ambiente. Además los sistemas de bicicleta pública cobran
					vida y se extienden ampliamente en diversos países del mundo, con
					lo cual, cada vez es mas fácil acceder a una bicicleta y recorrer
					la ciudad con ella.</p>
				<p>Esta pagina esta dedicada a los administradores de las
					paradas de bicicletas asi como tambien a los ususarios de las
					mismas, promoviendo de esta forma una forma mas saludable de
					transitar por La Plata.
			</div>
		</div>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th><a href="index.html">Logout</a></th>
				</tr>
			</tbody>
		</table>
	</div>
