	<ng-content></ng-content>
	<div class="container">
		<div class="header">
			<h1 class="header-heading">Complete sus datos</h1>
		</div>

		<div class="content">
				<table class="table table-striped">
				<thead>
				</thead>
				<tbody>
					<tr>
						<th>DNI</th>
						<th><input [(ngModel)]="user.dni" size="10"></th>
					</tr>
					<tr>
						<th>Nombre</th>
						<th><input 
							[(ngModel)]="user.nombres" size="30" /></th>
					</tr>
					<tr>
						<th>Apellido</th>
						<th><input [(ngModel)]="user.apellido" size="30" /></th>
					</tr>
					<tr>
						<th>Domicilio</th>
						<th><input  [(ngModel)]="user.domicilio" size="30"></th>
					</tr>

					<tr>
						<th>Fecha Nacimiento</th>
						<th><input [(ngModel)]="user.fechaNac" size="30" /></th>
					</tr>
					<tr>
						<th>E-Mail</th>
						<th><input 
							[(ngModel)]="user.mail" size="30"></th>
					</tr>
<!-- 					<tr> -->
<!-- 						<th>Habilitado</th> -->
<!-- 						<th><select  -->
<!-- 							[(ngModel)]="user.habilitado"> -->
<!-- 							<option value="" selected>--Seleccione--</option> -->
<!-- 									<option value="1">Inhabilitacion -->
<!-- 										definitiva</option> -->
<!-- 									<option value="2">Inhabilitadacion temporal</option> -->
<!-- 									<option value="3">Habilitada</option> -->
<!-- 							</select></th> -->
<!-- 					</tr> -->
					<tr>
						<th>Sexo</th>
						<th><select 
							[(ngModel)]="user.sexo">
								<option value="" selected>--Seleccione--</option>
								<option value="F">Femenino</option>
								<option value="M">Masculino</option>
						</select></th>
					</tr>
					<tr>
						<th><button (click)="onSubmit()" >Registrarme</button>
						</th>
				</tbody>
			</table>

		</div>
	</div>