	<div class="container">
		<div class="header">
			<h1 class="header-heading">Listado de Estaciones</h1>
		</div>

		<div class="content">

			<table class="table table-striped">
				<tr>
					<th>Elija el criterio por el que desea filtrar:</th>
				</tr>
				<tr>
					<th>Nombre</th>
					<th><input type="text" name="nombre" size="30"></th>
				</tr>

				<tr>
					<th>Estado</th>
					<th><select name="estado">
							<option value="" selected>--Seleccione--</option>
							<option value="operativa">Operativa</option>
							<option value="cerrada">Cerrada</option>
							<option value="en_construccion">En Construccion</option>
					</select></th>
				</tr>
				<tr>
					<th><input class="btn" type="submit" value="Buscar"></th>
				</tr>

			</table>
			<br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Codigo Postal</th>
						<th>Latitud</th>
						<th>Longitud</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody *ngFor="let estacion of this.estaciones">
					<tr>
						<td>{{estacion.nombre}}</td>
						<td>{{estacion.codigopostal}}</td>
						<td>{{estacion.latitud}}</td>
						<td>{{estacion.longitud}}</td>
						<td>{{estacion.estado}}</td>
						<td>
					        	<select>
	                			<option *ngFor="let x of estados" [value]="x.id" [selected]="estacion.estado == x.id">{{x.name}}
	                			</option>
	            				</select>
	            		</td>						
	            		<td><a href="#">eliminar</a></td>
						<td><a href="modificarEstacion.html">modificar</a></td>
					</tr>
				</tbody>
			</table>
			<br>
			<table class="table table-striped">
				<tbody>

					<tr>
						<th>Ordenar por</th>
						<th><select name="orden">
								<option value="" selected>--Seleccione--</option>
								<option value="nombre">Nombre</option>
								<option value="estado">Estado</option>
								<option value="bicicletasDisponibles">Bicicletas
									Disponibles</option>
								<option value="bicicleterosDisponibles">Bicicleteros
									Disponibles</option>
						</select></th>
					</tr>
			</table>
			<br>
			<table>
				<tr>
					<td><a href="">Informacion Estadistica</a></td>
				</tr>

			</table>
		</div>
	</div>